.login-container{
    background-color: #B8B8B8;
    display:flex;
    justify-content: space-around;
    padding-top: 20px;
}

h1{
    background-color: white;
    border-radius: 20px;
}

h4{
    text-align: center;
}

.square-login{
    text-align: center;
    background-color: white;
    height: 500px;
    width: 400px;
    border-right: 5px #b0aeae solid;
    border-bottom: 5px #b0aeae solid;
    border-radius: 20px;
}

.square-signup{
    text-align: center;
    background-color: white;
    height:500px;
    width: 400px;
    border-right: 3px #b0aeae solid;
    border-bottom: 3px #b0aeae solid;
    border-radius: 20px;
}

input{
    background-color:white;
    width: 100%;
    padding: 5px 5px;
    display:inline-block;
    border:1px solid black;
    border-sizing: border-box;
}

label{
    margin: 10px;
    font-size: 20px;
}

b{
    background-color: white;
}

button{
    width: 100%;
    padding: 5px;
    display: inline-block;
    border: none;
    border-sizing: border-box;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

button:hover{
    opacity: 0.8;
}
