*{
    background-color: #B8B8B8;
}

.dot{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 4px solid white;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.finished{
    background-color: red;
}

.unfinished{
    background-color: white;
}

.line{
    width: 15px;
    height: 76px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    display: inline-block;
    float: left;
    margin-left: 17px;
}

ul{
    padding-left: 60px;
}
