*{
  background-color: #c4c3c3;
  line-height: 15px;
  color: #6d6866;
}

.header{
    text-align: center;
}

.navigation{
    text-align: center;
    display: inline-block;
    list-style: none;
    width: 55px;
}

nav{
    text-align: center;
}

h1{
    color: #3090C7;
    font-weight: bold;
    font-size: 50px;
}

h2{
    color: #6D7B8D;
    font-size: 30px;
}

h3{
    font-size: 30px;
}
