h3, p{
    text-align: center;
}

.head-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.invisible{
    opacity: 100%;
}

.login{
    font-size: 20px;
}
